* {
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
  display: flex;
  margin-right: 50px;
  padding: 15px;
}
li {
  padding-right: 20px;
  font-size: 20px;
}

.introduction {
  padding: 50px;
  /* border: 1px solid black; */
  width: 60%;
  margin-left: 80px;
  margin-top: 40px;
}

.about-me {
  text-align: center;
}
.projects {
  text-align: center;
}
.contact {
  text-align: center;
}

.skills {
  text-align: center;
  margin-top: 30px;
}

.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 20px;
}

.skill-item {
  margin-right: 40px;
  margin-left: 40px;
}

.skill-logo img {
  width: 135px;
  height: 120px;
}

.skill-name {
  margin-top: 15px;
}

.projects-section {
  text-align: center;
}

.project-container {
  display: flex;
  height: 500px;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
}

.project-list {
  width: 30%;
}

.project-img {
  margin-top: 50px;
}

.project-img img {
  height: 300px;
  width: 400px;
  margin-top: -30px;
}
